<table>
  <!-- ADD HEADERS -->
  <tr>
    <th>Summary</th>
    <th>Time</th>
    <th>Temperature High</th>
    <th>Temperature Low</th>
    <th>Humidity</th>
    <th>Win Speed</th>
    <th>UV Index</th>
    <th>TimeZone</th>

  </tr>

  <!-- BIND ARRAY TO TABLE -->
  <tr ng-repeat="m in message.daily.data[0]| json">
    <td>{{message.daily.data[0].summary| json}}</td>
    <td>{{message.daily.data[0].time| json}}</td>
    <td>{{message.daily.data[0].temperatureHigh| json}}</td>
    <td>{{message.daily.data[0].temperatureLow| json}}</td>
    <td>{{message.daily.data[0].humidity| json}}</td>
    <td>{{message.daily.data[0].winSpeed| json}}</td>
    <td>{{message.daily.data[0].uvIndex| json}}</td>
    <td>{{message.timezone| json}}</td>
  </tr>
</table>
<hr>

<h1>Weather Info Details</h1>

<p>{{message| json}}</p>

