<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <h2> The past week's weather information </h2>

  <p>{{message| json}}</p>
  <button pButton label="Display Summary" class="reasonButton" (click)="isOn = false">Display Summary</button>
  <button pButton label="Hide Display" class="reasonButton" (click)="isOn = true">Hide Display</button>
  <app-weather-list *ngIf="!isOn"></app-weather-list>

</div>



 







